<!DOCTYPE html>
<html>
  <head> 
    <title>
       Home
    </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"
    
  </head>
  <body>
    <div class='container'>
        <!-- <img id='banner' src='https://webdevelopment-flask--vijaysae20.repl.co/static/banner.jpg' alt="Your Image"> -->


    <h2> About Lorem</h2>
  
    <p class:"bodytext" 'mt-4'>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    </div>

<div class='container' >
    <h2> About data</h2>
   </div>
 <div class ='container'>   
 {% for job in jobs %}
    {% include 'jobs.html'%}
  {% endfor %}
   </div>
    


  
      
      
      
      
</div>  
  </body>  
</html>